<form action="/creardeporte" method="post" class="p-4 bg-secondary-subtle rounded-3">

  <div class="mb-3">
    <label for="nombredeporte" class="form-label">Nombre del Deporte</label>
    <input type="text" class="form-control" id="nombredeporte" name="nombredeporte" required>    
  </div>
  
  <div class="mb-3">
    <label for="preciodeporte" class="form-label">Precio</label>
    <input type="text" class="form-control" id="preciodeporte" name="preciodeporte" required>
  </div>
  
  <button type="submit" class="btn btn-secondary">Crear Deporte</button>

</form>