<main>
    <h1 class="m-4">Deportes registrados en sistema</h1>
    <table class="table table-secondary table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Valor</th>      
    </tr>
  </thead>
  <tbody>
     
     {{#each deportes}}
        <tr>     
          <td>{{this.deporte}}</td>
          <td>$ {{this.precio}}</td>             
        </tr>
     {{/each}}
     
  </tbody>
</table>
</main>