<div
  class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
  style="width: 280px; height: 100vh;"
>
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">Panel de mantención</span>
  </a>
  <hr />
  <div class="grupoImagen">     
      <img src="/public/images/engranaje.png" alt="" width="32" height="32" />      
       <span>Opciones</span>
    </div>

  <ul class="nav nav-pills flex-column mb-auto">    

        <li class="nav-item">
          <button class="btn btn-secondary btn_nav" data-seccion="listardeportes"> 
              Todos los Deportes
          </button>
        </li>        
   
        <li class="nav-item">
          <button class="btn btn-secondary btn_nav" data-seccion="creardeporte"> 
              Crear Nuevo Deporte
          </button>
        </li>

        <li class="nav-item">
          <button class="btn btn-secondary btn_nav" data-seccion="modificardeporte"> 
              Modificar Deporte
          </button>
        </li>

        <li class="nav-item">
          <button class="btn btn-secondary btn_nav" data-seccion="eliminardeporte"> 
              Eliminar Deporte
          </button>
        </li>

  </ul>

  <hr />

  <div class="d-flex">   
      <img src='/public/images/logo.png' alt="" width="32" height="32" class="rounded-circle me-2"/>

      <div class="d-flex flex-wrap">
        <strong>Discipline Spa</strong>        
      </div>

  </div>
</div>